@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Italic.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Medium.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: 'JetBrains Mono, monospace';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-BoldItalic.ttf") format("ttf");
}
