body {
    font-family: ubuntu;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

a, a:hover {
    color: darkblue;
    text-decoration: none;
    word-break: break-word;
}

html,button,input,select,textarea {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
   
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: darkblue;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a,a:hover {
    color: darkblue;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
    font-family: Ubuntu, serif;
    line-height: 1.2;
    color: #333;
    font-weight: 400;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 1000px;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.site-title a {
	color: #333;
	text-decoration: none !important;
	background-color: azure;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #1d1e22;
    overflow: auto;
}

pre code {
  display: inline-block;
}
  

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    margin-top: 20px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2em;
    font-weight: 400;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 1rem;
    font-weight: 400;
    
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 1rem;
    color: #333;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
	margin-right: 5px;
}

.post .post-header .meta {
    
    margin-top: 10px;
}

.post .draft-label {
    color: #008080;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    
    
    
    color: #333;
    
    font-size: 15px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

footer {
  text-align: center;
  color: #333;
  font-family: Ubuntu, serif;
  border-top: 1px solid #f4f4f4;
  margin: 0 auto;
  max-width: 760px;
}

footer a {
  color: darkblue;
  font-family: Ubuntu, serif;
  font-weight: 400;
}

footer a:hover {
  color: darkblue;
}
ul.footer-nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  list-style: none;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}



table th {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}
.avatar img {
	width: 20%;
	height: auto;
	
	padding-top: 24px;
}
.about {
	padding-bottom: 50px;

}
.about {
	text-align: center
}

.about h4 {
	
	margin-bottom: .5rem;
	font-weight: 400;
}

.about h5 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 400;
	
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	.centered .about h5 {
		
	}
}

.about ul {
	list-style: none;
	margin: 3rem 0 1rem 0;
	padding: 0
}

.about ul li {
	display: inline-block;
	position: relative
}

.about ul li a {
	text-transform: uppercase;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1.6rem
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	.about ul li a {
		font-size: 1.4rem
	}
}
.title {
    
}

.more ul{
    list-style:none !important;
    padding-left: 0px
}
